.container1{
  background-color: #52263f;
  border: 2px solid #e49201;
}
.text {
  color: #C28593;
}
.btn {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: large;
}
.btn-oui {
  cursor: pointer;
  font-size: large;
  border: 2px solid #e49201;
  padding: 15px 20px 15px 20px;
  margin: 10px;
  border-radius: 30px;
  background-color: #52263f;
  color: #e49201;
}
.btn-annuler {
  cursor: pointer;
  font-size: large;
  border: 2px solid #e49201;
  padding: 15px 20px 15px 20px;
  margin: 10px;
  border-radius: 30px;
  background-color: #e49201;
  color: #52263f;
}
