img {
  width: auto;
  height: 86vh;
}
.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #52263f;
}
.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
}
.form-group-ingredient {
  background-color: #52263f;
  border: 2px solid #e49201;
  border-radius: 20px;
  padding: 5% 0% 90% 8%;
 }
.form-group-cuisson {
  background-color: #52263f;
  border: 2px solid #e49201;
  border-radius: 20px;
  padding: 5% 0% 10% 8%;
}
.form-group-instruction {
  background-color: #52263f;
  border: 2px solid #e49201;
  border-radius: 20px;
  padding: 5% 0% 100% 8%;
}
.btn {
  font-size: medium;
  border: 2px solid #e49201;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background-color: #e49201;
  color: #52263f;
}
label {
  color: #C28593;
  font-size: 180%;
}
.form-group-titre {
  border-top: 1px solid #e49201;
  border-bottom: 1px solid #e49201;
  margin: 20px;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
