<div class="main">
  <img src="assets/images/add-recipe.jpg">
    <div class="meta">
      <div>
        <button class="btn-back" (click)="goBack()">Retour</button>

        <form class="meta" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
          <input type="text" placeholder="Nom de la recette" formControlName="name">
          <label class="title" for="tempsCuisson">Cuisson :</label>
            <input type="text" formControlName="tempsCuisson" placeholder="Ex: 20min à 180°">
          <div formArrayName="ingredients">
            <label class="title" for="ingredients">Ingredients:</label>
              <div *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
                <input type="number" formControlName="quantity" class="input-ingredient">
                <input type="text" formControlName="uniteMesure" placeholder="Ex: ml/gr/...">

                <select  formControlName="alimentId" name="alimentId" id="alimentId">
                  <option *ngFor="let aliment of aliments" [value]="aliment.id" [selected]="i === 0">{{ aliment.name }}</option>
                </select>

                <button (click)="deleteIngredient(i)">X</button>
              </div>
          </div>
            <button type="button" (click)="addIngredient()">Ajouter ingrédient</button>
          <label class="title" for="instruction">Instructions:</label>
            <textarea formControlName="instruction" rows="20" cols="55"></textarea>
            <button class="btn" type="submit">Enregistrer</button>
        </form>

      </div>
    </div>
</div>
