img {
  width: auto;
  height: 86.45vh;
}
.main {
  display: flex;
  align-items: center;
  background-color: #52263f;
}
.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h2{
  font-size: 40px;
  color: #C28593;
  border-top: 1px solid #e49201;
  border-bottom: 1px solid #e49201;
}
p, ul, li {
  color: #C28593;
}
.btn-back {
  cursor: pointer;
  border: 2px solid #e49201;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  background-color: #52263f;
  color: #e49201;
}
.btn-back:hover {
  background-color: #e49201;
  color: #52263f;
}
