<div class="main">
  <img src="assets/images/sweet.jpg" alt="cookies">
  <div class="meta">

      <div>
        <button class="btn-back" (click)="goBack()">Retour</button>
        <h2>{{ recipe.name }}</h2>
        <p class="title">Cuisson : </p>
        <p>{{ recipe.tempsCuisson }}</p>
        <p class="title">Ingrédients : </p>
        <ul>
          <li *ngFor="let ingredient of ingredients">
            <button class="btn-add" type="button" (click)="pending()">+</button> {{ ingredient.quantity }}{{ ingredient.uniteMesure }}  {{ ingredient.name }}
          </li>
        </ul>
        <p class="title"> Instructions : </p>
        <p>{{ recipe.instruction }}</p>
        <div>
          <button class="btn" (click)="pending()">Ajouter à ShoppingList</button>
          <button class="btn" (click)="modify()">Modifier</button>
          <button class="btn" (click)="onDelete(recipe.id)">Supprimer</button>
        </div>
      </div>

  </div>
</div>
