img {
  width: auto;
  height: 86.45vh;
}
.main {
  display: flex;
  align-items: center;
  background-color: #52263f;
}
.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h2{
  font-size: 40px;
  color: #C28593;
}
p, ul, li {
  color: #C28593;
}
.btn-back {
  float: right;
  cursor: pointer;
  border: 2px solid #e49201;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  background-color: #52263f;
  color: #e49201;
}
.btn-back:hover {
  background-color: #e49201;
  color: #52263f;
}
.title {
  color: #e49201;
  font-size: 25px;
  border-bottom: 1px solid #e49201;
}
.btn {
  font-size: 15px;
  float: right;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  margin:15px;
  background-color: #52263f;
  border: 2px solid #e49201;
  color: #e49201;
}
.btn:hover{
  font-size: 15px;
  background-color: #e49201;
  color: #52263f;
}
.btn-add {
  margin: 10px;
  cursor: pointer;
  //display: flex;
  align-items: left;
  border: 2px solid #e49201;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  background-color: #52263f;
  color: #e49201;
}
.btn-add:hover {
  background-color: #e49201;
  color: #52263f;
}
ul, li {
  list-style: none;
}
