.container {
  background-color: #52263f;
}
.nav {
  display: flex;
  background-color: #52263f;
  height: 125px;
}
.title {
  cursor: pointer;
  font-size: 75px;
  color: #C28593;
  border-top: 1px solid #e49201;
  border-bottom: 1px solid #e49201;
 }
.example-spacer {
  flex: 1 1 auto;
}
.btn-navbar {
  cursor: pointer;
  font-size: medium;
  border: 2px solid #e49201;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 20px;
  background-color: #52263f;
  color: #e49201;
}
.btn-navbar:hover {
  font-size: medium;
  background-color: #e49201;
  color: #52263f;
}
.btn-navbar:active {
  font-size: medium;
  background-color: #e49201;
  color: #52263f;
}
