<div class="container">
      <mat-toolbar class="nav">
        <span class="title" routerLink="/">  The Cookbook  </span>
        <span class="example-spacer"></span>
        <button mat-button color="primary" class="btn-navbar" routerLink="/create-recipe">Add Recipe</button>
        <button mat-button color="primary" class="btn-navbar" routerLink="/all-recipes">See Recipes</button>
        <button mat-button color="primary" class="btn-navbar" routerLink="/login">Login</button>
      </mat-toolbar>
</div>
