<div class="container">
  <div>
    <img src="assets/images/home2.jpg" width="445">
  </div>
    <mat-toolbar class="nav">
      <span class="title">The Cookbook</span>
      <span class="example-spacer"></span>
      <button mat-button color="primary" class="btn-navbar">Recipes</button>
      <button mat-button color="primary" class="btn-navbar">Login</button>
    </mat-toolbar>
  <div class="main">
    <input type="text" placeholder="Search">
  </div>
  <div class="main2">
      <img src="assets/images/button-add-recipe.png" routerLink="/#" class="image-home">
      <p class="title-btn">Add Recipe</p>
      <img src="assets/images/button-livre.jpg" routerLink="/#" class="image-home">
      <p class="title-btn2">See Recipes</p>
  </div>
</div>
