<div class="container">
  <div>
    <img src="assets/images/home2.jpg" width="445">
  </div>
    <mat-toolbar class="nav">
      <span class="title">The Cookbook</span>
      <span class="example-spacer"></span>
      <button mat-button color="primary" class="btn-navbar" routerLink="/create-recipe">Add Recipe</button>
      <button mat-button color="primary" class="btn-navbar" routerLink="/all-recipes">See Recipes</button>
      <button mat-button color="primary" class="btn-navbar" routerLink="/login">Login</button>
    </mat-toolbar>
  <div class="main">
    <input type="text" placeholder="Search">
  </div>
  <div class="main2">
      <img src="assets/images/button-add-recipe.png" routerLink="/create-recipe" class="image-home">
      <p class="title-btn" routerLink="/create-recipe">Add Recipe</p>
      <img src="assets/images/button-livre.jpg" routerLink="/all-recipes" class="image-home">
      <p class="title-btn2" routerLink="/all-recipes">See Recipes</p>
  </div>
</div>
