.example-spacer {
  flex: 1 1 auto;
}
span{
  font-size: 35px;
  color: #e49201;
}
.btn-navbar {
  border: 2px solid #e49201;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 20px;
  background-color: #52263f;
  color: #e49201;
}
.btn-navbar:hover {
  transform: translateY(-3px);
}
.btn-navbar:active {
  background-color: #e49201;
  color: #52263f;
}

.navbar {
  background-color: #52263f;
}
.sidebar img{
  width: 74%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
