.example-spacer {
  flex: 1 1 auto;
}
.btn-navbar {
  font-size: medium;
  border: 2px solid #e49201;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 20px;
  background-color: #52263f;
  color: #e49201;
}
.btn-navbar:hover {
  font-size: medium;
  transform: translateY(-2px);
  background-color: #e49201;
  color: #52263f;
}
.btn-navbar:active {
  font-size: medium;
  background-color: #e49201;
  color: #52263f;
}
.container {
  display:flex;
  background-color: #52263f;
}
.nav {
  background-color: #52263f;
  height: 125px;
}
.title {
  font-size: 70px;
  color: #C28593;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 58%;
}




// .wrapper {
//   color: #C28593;
// }
// .image-home {
//   width: 200px;
//   border-radius: 10px;
// }

